{% load static %} {% load i18n %}
<div class="col-md-12">
    <div id="topwin">

        <h3>{% trans "Top Win!" %}</h3>

        <p v-if="metadata">{% trans "This is the top win from" %} {% verbatim %}{{ humanize(metadata.data_from_time)
            }}{% endverbatim %}</p>

        <span role="button" class="btn btn-info btn-sm" v-on:click="swapFull()">
            <i class='fas fa-plus-square'></i> {% trans "Expand/shorten list" %}
        </span><br/><br/>

        <table class="table table-striped" id="topwin_table">
            <thead>
            <tr>
                <th @click="sortBy('rank')" :class="{ active: sortKey == 'rank' }">{% trans "Rank" %}
                    <span class="arrow" :class="sortOrders['rank'] > 0 ? 'asc' : 'dsc'">
              </span></th>
                <th @click="sortBy('organization_id')"
                    :class="{ active: sortKey == 'organization_id' }">{% trans "Organization" %}
                    <span class="arrow" :class="sortOrders['organization_id'] > 0 ? 'asc' : 'dsc'">
              </span></th>
                <th @click="sortBy('total_urls')" :class="{ active: sortKey == 'total_urls' }">{% trans "Urls" %}
                    <span class="arrow" :class="sortOrders['total_urls'] > 0 ? 'asc' : 'dsc'"></span>
                </th>
                <th @click="sortBy('total_endpoints')" :class="{ active: sortKey == 'total_endpoints' }">{% trans "Services" %}
                    <span class="arrow" :class="sortOrders['total_endpoints'] > 0 ? 'asc' : 'dsc'"></span>
                </th>
                <th @click="sortBy('high')" :class="{ active: sortKey == 'high' }">{% trans "High" %}
                    <span class="arrow" :class="sortOrders['high'] > 0 ? 'asc' : 'dsc'">
              </span></th>
                <th @click="sortBy('medium')" :class="{ active: sortKey == 'medium' }">{% trans "Medium" %}
                    <span class="arrow" :class="sortOrders['medium'] > 0 ? 'asc' : 'dsc'">
              </span></th>
                <th @click="sortBy('low')" :class="{ active: sortKey == 'low' }">{% trans "Low" %}
                    <span class="arrow" :class="sortOrders['low'] > 0 ? 'asc' : 'dsc'">
              </span></th>
            </tr>
            </thead>
            <tbody>
            {% verbatim %}
            <tr v-for='rank in filteredData'>
                <td>{{ rank['rank'] }}</td>
                <td><a v-on:click="showReport(rank['organization_id'])">🔍 {{ rank['organization_name'] }}</a></td>
                <td>{{ rank['total_urls'] }}</td>
                <td>{{ rank['total_endpoints'] }}</td>
                <td>{{ rank['high'] }}</td>
                <td>{{ rank['medium'] }}</td>
                <td>{{ rank['low'] }}</td>
                {% endverbatim %}
            </tr>
            </tbody>
        </table>
    </div>
</div>