{% load static %} {% load i18n %} {% load leaflet_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Failmap - THE GAME</title>
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}
    <script type="text/javascript" src="{% static '/js/vendor/jquery-3.2.1.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/vendor/bootstrap.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static '/css/vendor/leaflet.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static '/css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/overrides.css' %}">

    {{ form.media }}

    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
        }

        html,
        body {
            height: 100%;
            /* The html and body elements cannot have any padding or margin. */
        }

        /* Wrapper for page content to push down footer */
        #wrap {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            /* Negative indent footer by it's height */
            margin: 0 auto -30px;
        }

        /* Set the fixed height of the footer here */
        #push,
        #footer {
            height: 30px;
            margin-top: 58px;
            font-size: 0.9em;
            font-style: italic;
            border-top: 1px solid #b9b6b6;
            padding: 5px;
            color: #8e8c8c
        }

        #footer {
            background-color: #f7f3ee;
        }

        /* Lastly, apply responsive CSS fixes as necessary */
        @media (max-width: 767px) {
            #footer {
                margin-left: -20px;
                margin-right: -20px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }

    </style>

    {% block head %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light fixed-top navbar-custom" style="background-color: whitesmoke !important;">
    <div class="container">
        <a class="navbar-brand" href="/game/scores/"><i class="fas fa-map-marker-alt"></i> {% trans "Game" %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="{% trans "Toggle navigation" %}">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/game/contests/">Contests</a></li>
                <li class="nav-item"><a class="nav-link" href="/game/scores/">🏆 Scores</a></li>
                <li class="nav-item"><a class="nav-link" href="/game/map/">🗺️ Map</a></li>
                <li class="nav-item"><a class="nav-link" href="/game/team/">Teams</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/game/submit_organization/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">➕ Organizations <span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/game/submit_organization/">Submit Organization</a>
                        <a class="dropdown-item" href="/game/submitted_organizations/">Known / Submitted Organizations</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/game/submit_url/" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">➕ Urls <span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" href="/game/submit_url/">Submit Url</a>
                        <a class="dropdown-item" href="/game/submitted_urls/">Known / Submitted Urls</a>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a class="nav-link" href="/game/rules_help/">💡️ Help</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Log on/off<span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <a class="dropdown-item" href="/authentication/logout/?next=/game/scores/">Logout</a>
                        <a class="dropdown-item" href="/authentication/login/?next=/game/team/">Login</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block fullwidth %}
{% endblock %}

<div id="wrap">
    <div class="container">

        {% block content %}
        {% endblock %}

    </div>
</div>

<div id="footer">
    <div class="container">
        Data can be downloaded from the Failmap Website of your country. For a list, see <a href="https://failmap.org">failmap.org</a>.
    </div>
</div>
</body>
</html>
