{% load static %} {% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Failmap Pro</title>
    <script type="text/javascript" src="{% static '/js/vendor/jquery-3.2.1.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/vendor/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/vendor/fontawesome/fontawesome.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/vendor/fontawesome/regular.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/vendor/fontawesome/solid.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/vendor/vue.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/vendor/moment-with-locales.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static '/js/vendor/Chart.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/vendor/tocbot/tocbot.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static '/css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/overrides.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/vendor/fontawesome/fa-svg-with-js.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/vendor/fontawesome/fontawesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/vendor/fontawesome/solid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/vendor/fontawesome/regular.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/vendor/tocbot/tocbot.css' %}">

    {{ form.media }}

    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
        }

        html,
        body {
            height: 100%;
            margin-top: 10px;
            /* The html and body elements cannot have any padding or margin. */
        }

        h1 {
            width: 100%; background-color: rgba(225, 225, 225, 0.42); border-radius: 10px; padding: 20px; margin-bottom: 20px;
        }

        /* Wrapper for page content to push down footer */
        #wrap {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            /* Negative indent footer by it's height */
            margin: 0 auto -30px;
        }

        /* Set the fixed height of the footer here */
        #push,
        #footer {
            height: 30px;
            margin-top: 58px;
            font-size: 0.9em;
            font-style: italic;
            border-top: 1px solid #b9b6b6;
            padding: 5px;
            color: #8e8c8c
        }

        #footer {
            background-color: #f7f3ee;
        }

        /* Lastly, apply responsive CSS fixes as necessary */
        @media (max-width: 767px) {
            #footer {
                margin-left: -20px;
                margin-right: -20px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        @media screen and (min-width: 1500px) {
            #pagemap {
                width: 100px;
                height: 100%;
                z-index: 100;
                visibility: visible !important;
                display: block !important;
                margin-left: calc(50vw - 675px);
                margin-right: auto;
            }

            .js-toc {
                position: fixed;
                width: 400px;
                height: 100%;
                z-index: 100;
                visibility: visible !important;
                display: block !important;
                margin-left: calc(50vw + 578px);
                margin-right: auto;
                top: 80px;
            }

            #pagemap_container{
                width: 100%;
                height: 88vh;
                position: fixed;
            }
        }

    </style>

    <script>
        function spendCredits(number){
            document.getElementById('credits').innerHTML = parseInt(document.getElementById('credits').innerHTML) - parseInt(number)
        }


    </script>

    {% block head %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light fixed-top navbar-custom" style="background-color: whitesmoke !important;">
    <div class="container">
        <a class="navbar-brand" href="/pro/"><i class="fas fa-star"></i> {% trans "Pro" %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="{% trans "Toggle navigation" %}">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/pro/portfolio/"><i class="fas fa-atlas"></i> Portfolio</a></li>
                <li class="nav-item"><a class="nav-link" href="/pro/issues/"><i class="fas fa-dumpster-fire"></i> Issues</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user_is_staff %}
                    {% comment %} Only admin users can switch accounts, which makes it possible to see the contents of other accounts for debugging purposes. {% endcomment %}
                    <li class="nav-item"><form class="nav-link" method="POST">
                        {% csrf_token %}
                        <select onChange="this.form.submit()" name="change_account">
                            {% for account in accounts %}
                            <option value="{{ account.id }}" {% if account.id == selected_account %}selected{% endif %}>{{ account.name }}</option>
                            {% endfor %}
                        </select>
                    </form></li>
                {% endif %}
                {% if credits %}
                    <li class="nav-item"><a class="nav-link" href="/pro/account/"><i class="fas fa-coins"></i> <span id="credits">{{ credits }}</span></a></li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/pro/account/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i> {% if account.name %}{{ account.name }}{% else %} Account {% endif %}<span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/pro/account/"><i class="fas fa-user-circle"></i> Account info</a>
                        <a class="dropdown-item" href="/pro/help/"><i class="fas fa-lightbulb"></i> Support</a>
                        <a class="dropdown-item" href="/pro/logout/?next=/pro/"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="pagemap_container">
    <canvas id='pagemap' style="visibility: hidden; display: none;"></canvas>

    <div class="js-toc">

    </div>
</div>



{% block fullwidth %}
{% endblock %}

<div id="wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        Contact...
    </div>
</div>

<script type="text/javascript" src="{% static '/js/vendor/pagemap/pagemap.min.js' %}"></script>
<script>
pagemap(document.querySelector('#pagemap'), {
    viewport: null,
    styles: {
        'header,footer,section,article': 'rgba(0,0,0,0.08)',
        'h1,a': 'rgba(0,0,0,0.10)',
        'h2,h3,h4': 'rgba(0,0,0,0.08)'
    },
    back: 'rgba(0,0,0,0.02)',
    view: 'rgba(0,0,0,0.05)',
    drag: 'rgba(0,0,0,0.10)',
    interval: null
});

tocbot.init({
  // Where to render the table of contents.
  tocSelector: '.js-toc',
  // Where to grab the headings to build the table of contents.
  contentSelector: 'body',
  // Which headings to grab inside of the contentSelector element.
  headingSelector: 'h1, h2, h3',
});
</script>
</body>
</html>
