{% extends 'pro/base.html' %}{% load humanize %}{% load i18n %}
{% block content %}
    <h1 id="Issues">Issues</h1>


    <div class="row">
    {% for scan in latest_scans %}

        {% ifchanged scan.domain %}
            </div>
            <h2 id="{{ scan.domain }}">{{ scan.domain }}</h2>
            <div class="row">
        {% endifchanged %}

        {% ifchanged scan.domain_and_impact %}
            </div>
            <h3 id="{{ scan.domain_and_impact }}">{{ scan.impact }}</h3>
            <div class="row">
        {% endifchanged %}

        <div class="col-md-4" style="margin-bottom: 30px;">
        <table class="table table-sm table-striped table-bordered table-hover rounded-top" style="box-shadow: 0px 13px 82px -47px rgba(0,0,0,0.75); border-radius: 10px;">
            <tbody style="background-color: {{ scan.color }};">
                <tr>
                    <td colspan="2" style="height: 5em; padding-top: 1em; padding-bottom: 1em; font-weight: bolder; font-size: 1.4em; text-align: center"><h4 id="{{ scan.url | slugify}}{{ scan.service | slugify }}">{{ scan.url }}</h4> {% if scan.url != scan.service %}<br>{{ scan.service }}{% endif %}</td>
                </tr>

                <tr><td>Scan</td><td style="height: 4em;">{% trans scan.header %}</td></tr>
                <tr><td>Details</td><td style="height: 5em;">{{ scan.explanation }} </td></tr>
                <tr><td>Impact</td><td>{{ scan.impact }}</td></tr>
                <tr><td>When</td><td><span title="{{ scan.last_scan_moment_python }}">{{ scan.last_scan_humanized }}</span></td></tr>
                {% if scan.impact != "ok" %}
                    <tr><td colspan="2">
                    {% if scan.being_rescanned %}
                    <button type="button" id="{{ scan.type }}{{ scan.id }}"
                            class="btn btn-secondary btn-block" disabled data-toggle="modal" data-target="#rescanModal"><i class="fas fa-spinner fa-pulse"></i> Rescanning</button>
                    {% else %}
                        <button type="button" id="{{ scan.type }}{{ scan.id }}"
                            class="btn btn-primary btn-block" data-toggle="modal" data-target="#rescanModal"
                        data-cost="{{ scan.rescan_cost }}"
                        data-scan-id="{{ scan.id }}"
                        data-scan-type="{{ scan.type }}"
                        data-scan-label="{{ scan.url }} {{ scan.service }}">Rescan now</button>
                    {% endif %}
                    <button type="button" id="{{ scan.type }}{{ scan.id }}"
                            class="btn btn-info btn-block" data-toggle="modal" data-target="#rescanModal"
                        data-cost="{{ scan.rescan_cost }}"
                        data-scan-id="{{ scan.id }}"
                        data-scan-type="{{ scan.type }}"
                        data-scan-label="{{ scan.url }} {{ scan.service }}">Explain</button>
                    <button type="button" id="{{ scan.type }}{{ scan.id }}"
                            class="btn btn-warning btn-block" data-toggle="modal" data-target="#rescanModal"
                        data-cost="{{ scan.rescan_cost }}"
                        data-scan-id="{{ scan.id }}"
                        data-scan-type="{{ scan.type }}"
                        data-scan-label="{{ scan.url }} {{ scan.service }}">Report error with scan</button>
                    </td></tr>
                {% endif %}
            </tbody>
        </table>

        </div>
        {% empty %}
        <div style="width: 100%; font-size: 2em; text-align: center">No issues found! 🎉</div>

    {% endfor %}
    </div>

    <script>
    function rescan(button, scan_type, scan_id) {
        fetch(`/pro/rescan_request/${scan_type}/${scan_id}/`)
            .then(response => response.json()).then(data => {
                console.log(data);
                if (!data.error) {
                    console.log(`${scan_type}${scan_id}`);
                    document.getElementById(`${scan_type}${scan_id}`).setAttribute('disabled', true);
                    spendCredits(data.cost)
                }
        }).catch((fail) => {console.log('An error occurred: ' + fail)});
    }
    </script>

    <div class="modal fade" id="rescanModal" tabindex="-1" role="dialog" aria-labelledby="rescanModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm Rescan</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              You are requesting a rescan of <span class="scan_label">%s</span> for <i class="fas fa-coins"></i> <span class="rescan-cost">0</span>.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" id="very-ok-button" class="btn btn-primary" data-scan_type="0" data-scan_id="0" onclick="rescan(this, this.dataset.scan_type, this.dataset.scan_id); " data-dismiss="modal"><i class="fas fa-coins"></i> <span class="rescan-cost">0</span></button>
          </div>
        </div>
      </div>
    </div>

    <script>
    $('#rescanModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var cost = button.data('cost'); // Extract info from data-* attributes
        var scan_id = button.data('scan-id');
        var scan_type = button.data('scan-type');
        var scan_label = button.data('scan-label');
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        modal.find('.scan_label').text(scan_label);
        modal.find('.rescan-cost').text(cost);
        modal.find('.scan_id').text(scan_id);
        document.getElementById('very-ok-button').dataset.scan_type = scan_type;
        document.getElementById('very-ok-button').dataset.scan_id = scan_id;
    })
    </script>
{% endblock %}
