/*
Overrides some values given in CSS from frameworks and third party stuff.
*/

body {
    height: 100%;
    width: 100%;
}

#history {
    margin-bottom: 10px;
    outline: none;
    direction: rtl;
    width: 100%;
}

#next_week {
    float: right;
}

#map {
    height: calc(100vh - 55px);
}

.info {
    min-width: 317px;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
    border-radius: 4px;
    /* border: 2px solid rgba(0,0,0,0.2); */
    background-clip: padding-box;
}

/* Hide info boxes on mobile / small resolutions */
@media screen and (max-width: 768px) {
    .info {
        visibility: hidden;
    }
}

.finding_block{
    margin-left: 20px;
    margin-bottom: 20px;
}

.info_nobackground {
    min-width: 317px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    border-radius: 1px;
}

.info h4 {
    margin: 0 0 5px;
}

.legend {
    text-align: left;
    line-height: 18px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    /* opacity: 0.7; causes glitch after fullscreen was added. */
}

.green {
    text-decoration: none;
    color: #00ff00;
}

.orange {
    text-decoration: none;
    color: #FFA500;
}

.red {
    text-decoration: none;
    color: #ff0000;
}

#domainlist {
    width: 293px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 650px;
}

#domainlist h4 {
    color: #777;
    margin: 0 0 5px;
}

/* bootstrap fixed menu terribleness... always overlaps content. */
body {
    padding-top: 56px;
}

/* prevent dynamic content loading in the div before this element to scroll
the recently jumped anchor (report) out of view.
*/
div#report {
    margin-top: 55px;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 55px;
    }
}

/* https://github.com/twbs/bootstrap/issues/1768 */
.jumptonav {
    display: block;
    content: " ";
    margin-top: -90px;
    height: 51px;
    visibility: hidden;
}

.perurl {
    width: 100%;
    clear: both;
    display: table;

    /* alternating rows, taking in account images. */
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: #f1f1f1;
}

.imagediv {
    width: 320px;
    height: 200px;
    margin-right: 10px;
    border: 1px solid black;
    display: inline-block;
    float: left;
    background: gainsboro repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, .5) 35px, rgba(255, 255, 255, .5) 70px);
}

.clippedimage {
    margin-top: 14px;
    margin-left: 17px;
    min-width: 320px; /* placeholder */
    min-height: 200px; /* placeholder */
    position: absolute;
    clip: rect(0, 320px, 200px, 0);

    /* If we can't find the image, would this then show? */
    background: gainsboro repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, .5) 35px, rgba(255, 255, 255, .5) 70px);

    /* Not setting the image width and height explicitly will make the image 100% width on ios / safari. nov 2018 */
    width: 320px;
    height: 200px;
}

.servicelink {
    margin-bottom: 15px;
}

.faildomain {
    font-size: 23px;
}

.giveroom {
    margin-top: 12px;
    min-height: 230px;
}

.giveroom_url {
    margin-top: 12px;
    min-height: 156px;
}

.reportlist {
    display: table;
    padding-bottom: 15px;
}

.servicelist {
    display: table;
    padding-bottom: 15px;
    margin-left: 330px;
}

.screenshotlist {
    width: 330px;
    float: left;
}

.reportlist h3 {
    font-size: 17px;
}

.awarded_points_orange, .awarded_points_medium {
    border: 1px solid darkorange;
    background-color: orange;
    padding: 0 3px;
    font-weight: bold;
    font-size: 11px;
    border-radius: 4px;
}

.awarded_points_red, .awarded_points_high {
    border: 1px solid darkred;
    background-color: red;
    padding: 0 3px;
    font-weight: bold;
    font-size: 11px;
    border-radius: 4px;
}

.awarded_points_green, .awarded_points_low, .awarded_points_perfect {
    border: 1px solid green;
    background-color: lightgreen;
    padding: 0 3px;
    font-weight: bold;
    font-size: 11px;
    border-radius: 4px;
}

.awarded_points_explained {
    border: 2px solid #8b8987;
    background-color: #fdfffb;
    padding: 0 3px;
    font-weight: bold;
    font-size: 11px;
    border-radius: 4px;
}

.total_awarded_points_orange {
    border: 2px solid darkorange;
    background-color: orange;
    padding: 1px 4px;
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    margin-left: 5px;
}

.total_awarded_points_red {
    border: 2px solid darkred;
    background-color: red;
    padding: 1px 4px;
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    margin-left: 5px;
}

.total_awarded_points_green {
    border: 2px solid green;
    background-color: lightgreen;
    padding: 1px 4px;
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    margin-left: 5px;
}

.logo {
    width: 100%;
    text-align: center;
}

.logoandtext {
    font-size: 12px;
}

.fullscreenlayout {
    /* Hide it initially, also when fullscreen closes. */
    /* display: none; */

    /* Go all out */
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 10px;
    top: 10px;
    overflow-y: scroll;
    overflow-x: auto;

    /* emulate the maps info boxes */
    background: rgba(255, 255, 255, 0.96);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 14px;
    max-width: 1079px;
    border: 1px solid #aeaeae;
    border-top: 55px solid #838383;
}

/* a yolo layouted button, just to make sure it can close. */
.closebutton {
    position: fixed;
    top: 12px;
    right: 20px;
    font-size: 40px;
    font-family: sans-serif, consolas;
    color: white;
    left: 20px;
    max-width: 1059px;
    text-align: right;
}

.navbar-custom {
    -webkit-backdrop-filter: blur(20px);

}

.leaflet-container {
        /* Something that works on all styles, and doesn't blind you at night. */
        background: rgba(0, 0, 0, 0.19) !important;
}

.jumbotron {
    margin-top: 40px;
}

.yellowrow {
    color: #f0cf3c;
}

.orangerow {
    color: darkorange;
}

.redrow {
    color: #d30000;
}

.greenrow {
    color: #00c700;
}

.grayrow {
    color: darkgray;
}

/* awesome transition */
path {
    -webkit-transition: fill 400ms;
    transition: fill 400ms;
}

#searchbar {
    width: 100%;
    font-size: 20px;
}

.backtomap {
    float: right;
    position: relative;
    top: 70px;
}

.organization_points {
    font-size: inherit !important;
    margin: 0 5px 0 0 !important;
}

.changes .date {
    width: 173px;
}

.changes .explanation,
.changes .service {
    font-size: 12px;
}

.selected_country {
    background-color: #e8e8e8;
    border-top: 4px solid blue;
    color: black;
}

.selected_category {
    background-color: #e8e8e8;
    border-bottom: 4px solid blue;
    color: black;
}

#categorynavbar, #countrynavbar {
    margin-bottom: 0 !important;
}

.improvements_good, .improvements_neutral {
    color: green;
    font-size: 40px;
}

.improvements_bad {
    color: red;
    font-size: 40px;
}

.improvements_good_large, .improvements_neutral_large {
    color: green;
    font-size: 100px;
}

.improvements_bad_large {
    color: red;
    font-size: 100px;
}

.improvements_good:before {
   content: "+";
}

.improvements_good_large:before {
   content: "+";
}

.improvements_bad:before {
   content: "";
}

.improvements_bad_large:before {
   content: "";
}

.improvements_neutral:before {
   content: "";
}

.improvements_neutral_large:before {
   content: "";
}

.number-sm {
    text-align: center;
    min-width: 112px;
}

.improvementstable {
    border-spacing: 10px;
    border-collapse: separate;
    width: 100%;
}

.improvement_severity{
    border-bottom: 2px solid silver;
}

.centered {
    text-align:center
}

[v-cloak] {
  display: none;
}


.score {
    float: left;
    width: 10em;
    height: 13em;
    border-radius: 6px;
    margin-right: 20px;
    text-align: center;
    padding: 13px;
}

.score_label {
    font-size: 1.3em;
    color: white;
}

.score_value {
    font-size: 5em;
    background-color: #ffffffcf;
    display: block;
    border-radius: 10px;
}

.high {
    background-color: #f70000;
}

.medium {
    background-color: #f78900;;
}

.low {
    background-color: #f7e400;
}

.high_text {
    color: #f70000;
}

.medium_text {
    color: #f78900;;
}

.low_text {
    color: #f7e400;
}



/* Make it a marquee */
.marquee {
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee span {
    display: inline-block;
    padding-left: 1vw;
    text-indent: 0;
    animation: marquee 8000s linear infinite;
}
.marquee span:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.very-huge{
    font-size: 140px;
}

#ticker_bar {
    /* Inspired by news and stock tickers */
    z-index: 1002;
    width: 96vw;
    position: fixed;
    bottom: 0;
    left: 0;
    border: 1px solid #4c4c4c;
    margin: 2vw;
    box-shadow: 4px 28px 62px -16px rgba(120,120,120,0.65);
    background: white linear-gradient(to bottom, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
    line-height: 183px;
    height: 190px;
}

section {
    margin-bottom: 87px;
    padding-bottom: 54px;
}

section:last-of-type {
    margin-bottom: 0;
}

section:nth-child(2n+2) {background-color: rgba(184, 188, 249, 0.1);}

/**
 Sortable Tables
 https://vuejs.org/v2/examples/grid-component.html
*/

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #00a0c6;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #00a0c6;
}

.stats_part{
    margin-top: 40px;
}


#lastrow {
    background-color: black;
    padding-top: 40px;
    border-top: 10px solid lightgreen;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 40px;
    padding-bottom: 40px;
    color: white;
}

#lastrow ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

#lastrow ul li {
    margin-bottom: 12px;
    list-style: none;
    margin-left: -40px;
}

#lastrow a, #lastrow a:hover, #lastrow a:visited {
    color:white;
    text-decoration: none;
}

/* Report printing in chrome / safari, so it looks nice */

@media print {
    .noprint {display:none !important;}
    a:link:after, a:visited:after {
      display: none;
      content: "";
    }

    * {
        -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
        color-adjust: exact !important;                 /*Firefox*/
    }
}

#viewmore {
    position: absolute;
    top: 98vh;
    z-index: 1001;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5vw;
    padding: 0.5vw;
    border-radius: 10px;
}

.legend_title {
    display: block;
    margin-bottom: -12px;
    font-weight: bold;
}

.gitter-chat-embed {
    z-index: 10000;
}


/* Make a single menu, not separate controls. Todo: only when there is room... */
@media screen and (min-width: 768px) {
    .leaflet-top.leaflet-right {
        height: calc(100% - 184px);
        /*background-color: rgba(255, 255, 255, 1.8);
        padding-left: 10px;
        margin-bottom: 10px;
        overflow-y: scroll;
        border-left: 2px solid #b3b3b3;
        pointer-events: initial;*/
    }
}

/* Markers with CSS only, no (slow) images, and easy to change color. */


.leaflet-marker-red
{
    background-color: rgba(255,0,0,0.6);
    border: 2px solid rgba(179,0,0,0.5);
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    line-height:30px;
}

.leaflet-marker-orange
{
    background-color: rgba(255, 125, 0, 0.6);
    border: 2px solid rgba(162, 85, 0, 0.5);
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    line-height:30px;
}

.leaflet-marker-green
{
    background-color: rgba(32, 255, 0, 0.6);
    border: 2px solid rgba(0, 162, 2, 0.50);
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    line-height:30px;
}

.leaflet-marker-yellow
{
    background-color: rgba(253, 255, 5, 0.6);
    border: 2px solid rgba(179, 172, 0, 0.5);
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    line-height:30px;
}

.leaflet-marker-gray
{
    background-color: rgba(0, 88, 255, 0.6);
    border: 2px solid rgba(0, 68, 179, 0.5);
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    line-height:30px;
}


.announcement
{
    margin-top: 20px;
    font-size: 1.5em;
    text-align: center;

    margin-bottom: 0;
    background-color: #ffefef;
    padding-top: 20px;
    padding-bottom: 20px;
}

.photobar {
    height: 243px;
    width: 320px;
}


#graphs .row {
    padding-bottom: 30px;
}

.chat_quote_left {
    background-color: rgba(254, 114, 114, 0.1);
    border-radius: 20px;
    padding: 10px 15px;
    margin-right: 10%;
    margin-bottom: -14px;
}

.chat_quote_right {
    border-radius: 20px;
    padding: 10px 15px;
    background-color: #95f09533;
    margin-left: 10%;
    margin-bottom:40px;
}

.explain_reports {
    border: 1px solid #c5c5c5;
    list-style: none;
    padding: 10px;
    margin: 10px;
    width: 100%;
    background-color: #e3d1cb33;
    border-radius: 3px;
}

.schedule_row {
    font-size: 1.2em;
    margin-bottom: 6px;
}

/* Menu hover menu is just a few pixels below the item. So it disappears if you're not moving too fast which is evil*/
.dropdown-menu {
    top: 86% !important;
}
